# zato create server config
ca_certs_path=/opt/zato/ca/ca_cert.pem
cert_path=/opt/zato/ca/zato.server1.cert.pem
cluster_name=local-cluster
command=create_server
kvdb_host=redis
kvdb_port=6379
kvdb_password=
odb_db_name=servicebus
odb_password=7BB94E6C-046D-47C8-8011-CC38FDB7015D
odb_host=postgres
odb_port=5432
odb_type=postgresql
odb_user=servicebus
path=/opt/zato/env/server
postgresql_schema=
priv_key_path=/opt/zato/ca/zato.server1.key.pem
pub_key_path=/opt/zato/ca/zato.server1.key.pub.pem
server_name=hostname
store_config=False
